@import url( "https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swapel");

*{
    margin: 0;
    padding: 0;
}

li{
    color: white;
    /* display: inline; */
}

#menu{
    width: 100%;
    height: 100px;
    background-color: #0C0C0C;
}

#tamplate{
    width: 100%;
    height: 600px;
    background-color: #0C0C0C;
}

.mudar_estilo{
    background-color: red;
}

#Info_Ocu{
    width: 100%;
    height: 650px;
    background-color: #e2e2e2;
}

.h1_ocupacao{
    position: absolute;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    margin-top: 7%;
    margin-left: 50px;
}

.Info_Ocu_di{
    width: 650px;
    float: right;
    height: 650px;
    background-color: #CECECE;
}

#Area_Solucoes{
    width: 100%;
    height: 680px;
    background-color: #0C0C0C;
}

#Skills{
    width: 100%;
    height: 650px;
    background-color: white;
}

.h1_skills{
    position: absolute;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}

.Info_Ocu_Skills{
    width: 650px;
    float: left;
    height: 650px;
    background-color: #CECECE;
}

#Contato{
    width: 100%;
    height: 650px;
    background-color: #0C0C0C;
}

#rodape{
    width: 100%;
    height: 300px;
    background-color: black;
}
