@import url( "https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swapel");

/* Configuração Padrao */
#input{
  background-color: #212020;
  padding: 2px 14px;
  border: 1px solid;
  margin: 20px;
  font-family: 'Inter', sans-serif;
  /* //display: block; */
}

form{
  padding-bottom: 100px;
}


.input_nome{
    display: inline;
    position: relative !important;
    margin-left: 27%  !important;
    width: 300px;
    height: 40px;
}

.input_sobrenome{
    display: inline;
    position: relative !important;
    margin-left: 2px  !important; 
    width: 200px;
    height: 40px;
}

.input_telefone{
    display: inline;
    position: relative;
    margin-left: 27%  !important;
    width: 150px;
    height: 40px;
}

.input_email{
    position: absolute;
    width: 327px;
    height: 40px;
}

#text_area{
  display: block;
  width: 575px;
  height: 250px;
  margin-top: 27px;
  margin-left: 27%;
  border: 1px solid #212020;
  background-color: #212020;
  //box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
  font-size: 16px;
}

.btn_enviar{
  position: relative;
  background-color:black;
  border: none;
  margin-top: 60px;
  left: 45%;
  color: #dad8d8;
  padding: 16px 72px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  /* margin: 4px 2px; */
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1023px) {

  .input_nome{
    width: 280px;
    height: 35px;
  }

  .input_sobrenome{
      width: 185px;
      height: 35px;
  }

  .input_telefone{
      margin-left: 27%  !important;
      width: 150px;
      height: 35px;
  }

  .input_email{
      width: 300px;
  }

  #text_area{
    width: 544px;
    height: 200px;
  }

}


  //Estilo para Telas maiores
  @media (min-width: 1400px){

    .btn_enviar{
   
      left: 45%;
      color: #dad8d8;
      padding: 16px 72px;
      font-family: 'Inter', sans-serif;
      text-decoration: none;
      /* margin: 4px 2px; */
      cursor: pointer;
    }

    
  }
